@for (let article of articlesParent; track article.id) {
    @if(articlesParent) {
        <section class ="article-container">
        <article>
            <h1> {{ articlesParent.title }} </h1>
            <img [src]="articlesParent.image" alt="">
            <address rel="author" class="article-author"> {{articlesParent.author}} </address>
            <p>{{ articlesParent.content }}</p>

                <!--
                Cette partie est à garder pour le détail de l'article
                <div class="comment-area">
                    <input type="text" [(ngModel)]= "article.comment">
                    <input type="submit" (click)= "showComment()">
                    <p [hidden]= "!publishedComment">{{ article.comment }}</p>
            </div>
            -->
        </article>
    </section>
    }
}