.card {
    padding: 2rem;
    margin: 1rem;
    width: 70%;
    border: solid 1px lightgray;
}

.article-content {
    display:flex;
    flex-direction: column;
}

.popular-article {
    font-size: 1.5em;
    text-shadow: 2px 2px 5px gray;
    font-weight: bold;
    color:purple;
}

.like-area {
    border-radius: 15px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    position: absolute;
    left: 50;
}